[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/sockSense-django-project/myenv/bin/uwsgi -i /srv/sockSense-django-project/socksense/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target